.cardclass {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  height: 400px;
}
.productimg {
  height: 200px !important;
}
.producttitle {
  font-weight: bold !important;
  font-family: "Helvetica", sans-serif;
  margin-bottom: 10px;
  font-size: 1.1rem;
}
.productprice {
  color: #333333 !important;
  font-family: "Helvetica", sans-serif;
  font-size: 1rem;
  margin-bottom: 10px;


}
.rectangle {
  color: white !important;
  width: 234.03px !important;
  background: #ca0303;
  padding: 8px !important;
  font-size: 14px;
  font-weight: 600;
}

.starcolor {
  color: #333 !important;
  position: relative;
  left:-3px;
  
}

.filtertab {
  padding: 20px 0px !important;
  background-color: #f0eee7;
}

.headerimg {
  height: 200px !important;
  width: 100%;
  background-image: url("https://t.ly/UcsX");
  background-size: contain;
}
